<h1>Movie search</h1>

<h3>AMDB (Animal Movie DataBase) allows you to make a movie search given an animal keyword. Try it out!</h3>

<form (submit)="movieSearch(animalName)">
  <p>Enter an animal name here:</p>
  <input [(ngModel)]="animalName" placeholder="Example: Black Cat" required>
  <button type="submit">Search</button>
</form>

<div class="movieResultsWrapper" [hidden]="!formSubmitted">
  You are searching for movies starring: <strong>{{animalName}}</strong>
  <ul class="movieResults">
    <li *ngFor="let movie of moviesResult">
      <b>{{movie.title}}</b> - <i>{{movie.plot}}</i>
    </li>
  </ul>
</div>

<!--
<ul>
  <li *ngFor="let name of nameListService.get()">{{name}}</li>
</ul>
-->

<!-- Debug area -->
<div class="debug">
  <h4>Debug area</h4>
  animalName: {{animalName}}
</div>


